html,body{
    background:url(clockback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.clockface{
    margin:auto auto;
    position: fixed;
    top: 4em;
    left: 10em;
    border-radius: 500px;
    height: 25em;
    width: 25em;
    border: solid 10px white;
}
.hand{
    height: 0px;
    width: 180px;
    border:solid 1px;
    transform-origin: 100%;
}

.hour{
    border-radius: 3px;
    border-width: 5px;
    width: 100px;
    position:relative;
    left:5.64em;
    top:12.3em;
    border-color: yellow;
}
.minute{
    border-radius: 3px;
    border-width: 2.5px;
    position: relative;
    left: 0.9em;
    top:11.8em;
    border-color:magenta;
}
.second{
    border-radius:1px;
    border-width: 1px;
    position: absolute;
    left: 0.5em;
    top:12.4em;
    width:190px;
    border-color:blue;
    /* transition: 0.05s all;
    transition-timing-function: cubic-bezier(0.05, 1.61, 0.58, 1); */
}