html,body{
    background:url(clockback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
}

.clockface{
    margin:auto auto;
    position: fixed;
    top: 4em;
    left: 10em;
    border-radius: 5000px;
    border: solid 10px;
    border-color: lightgreen;
    height: 25em;
    width: 25em;
}
.hand{
    height: 0px;
    width: 180px;
    border:solid 1px;
    transform-origin: 100%;
}

.hour{
    border-radius: 4px;
    border-width: 5px;
    width: 100px;
    /* transform:rotate(90deg); */
    position:relative;
    left:5.64em;
    top:12.3em;
    border-color: blue;
}
.minute{
    /* transform:rotate(45deg); */
    border-width: 2.5px;
    position: relative;
    left: 0.9em;
    top:11.8em;
    border-color:red;
}
.second{
    /* transform:rotate(270deg); */
    border-width: 1px;
    position: absolute;
    left: 0.5em;
    top:12.4em;
    width:190px;
    border-color:yellowgreen;
}

/* @keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

#hour {
    animation: rotate 43200s infinite linear;
}
#minute {
    animation: rotate 3600s infinite steps(60);
}
#second {
    animation: rotate 60s infinite steps(60);
} */
